<div class='p_comments'>
  <% if comments.empty? || comments.nil? %>
    <span class='comment_item'><%= "No comment yet" %></span>
  <% else %>
    <ul class='list'>
      <% comments.each_with_index do |comment, index| %>
        <li class='comment_item'>
          <%= comment.author.name %>: <%= comment.text %>
          <%if can? :delete, comment%>
            <%= button_to "Delete comment",
              [comment.post.author, comment.post, comment], 
              method: :delete,
              class:"btn btn-outline-danger btn-del-comment"
           %>
          <%end%>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
